:root {
  // Primary colors
  --Primary-01: #330002;
  --Primary-02: #ec2028;
  --Primary-03: #fbd0d2;
  --Primary-04: #fef6f6;

  // Secondary colors
  --Secondary-01: #331f00;
  --Secondary-02: #ec9a20;
  --Secondary-03: #fbead0;
  --Secondary-04: #fefbf6;

  // Gray
  --Gray-01: #0a0a0a;
  --Gray-02: #666666;
  --Gray-03: #f0f0f0;
  --Gray-04: #fafafa;

  // Green
  --Green-01: #003305;
  --Green-02: #69c110;
  --Green-03: #e5fbd0;
  --Green-04: #fafef6;

  // Blue
  --Blue-01: #001833;
  --Blue-02: #207eec;
  --Blue-03: #d0e4fb;
  --Blue-04: #f6fafe;

  // Neutral
  --Neutral-05: #d9d9d9;

  // Yellow

  // Purple

  // Red

  // Others
  --White: #fff;
}
