<!-- Lưu ý: Biến phải để trong nháy đơn '{"title":"Hello World"}' -->
{{#extend 'layouts/main.hbs'}}
{{#content 'body'}}
{{> "components/banner.hbs"}}
{{> "components/most_popular.hbs"}}
{{> "components/latest_recipes.hbs"}}
{{> "components/your_recent.hbs"}}
{{> "components/specific_needs.hbs"}}
<div class="divider"></div>
{{/content}}
{{/extend}}
