<div class="banner-slider__item relative">
  {{!-- banner.image, banner.mobile --}}
  <picture class="w-full h-full object-cover">
    <source srcset="{{banner.image}}" media="(min-width: 1280px)">
    <source srcset="{{banner.mobile}}" media="(min-width: 0px)">
    <img src="{{banner.mobile}}" class="w-full h-full object-cover">
  </picture>
  <!-- <div class="banner-slider__content absolute inset-0 h-full flex flex-col gap-4 justify-center pl-10 text-white">
    <div class="flex flex-col gap-2">
      <h3 class="condensed font-extrabold text-3xl">Spicy delicious chicken thighs</h3>
      <p>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqut e...</p>
    </div>
    <div class="tags">
      <span class="tag tag-banner"><span class="icon icon-[ph--timer-fill]"></span><span>30
          Minutes</span></span>
      <span class="tag tag-banner"><span class="icon icon-[ph--fork-knife-fill]"></span><span>Chicken</span></span>
    </div>
    <div>
      <a class="btn btn-primary" href="#">
        <span>Find out more</span>
        <span class="icon-[fe--arrow-right]"></span>
      </a>
    </div>
  </div> -->
</div>
