<a href="#">
  <div
    class="mostpopular__recipes__item flex flex-col justify-end py-2 px-3 gap-12 self-stretch bg-white rounded-xl relative aspect-square">
    <img src="{{item.image}}" alt="Recipe image"
      class="absolute left-1/2 -translate-x-1/2 -top-10 rounded-full object-cover" />
    <h3 class="text-center text-sm font-bold capitalize px-2">
      {{item.title}}
    </h3>
  </div>
</a>
