<div class="container flex flex-col gap-20 mb-20" id="mostPopular">
  <h2 class="title">Most popular <strong>Recipes</strong></h2>
  <div class="mostpopular__recipes flex gap-6 justify-between m-auto">
    {{#each mostPopular as |item|}}
    {{> "components/most_popular_item.hbs" item=item}}
    {{/each}}
    <a href="#">
      <div
        class="mostpopular__recipes__item transition-all flex flex-col justify-end py-2 px-3 gap-12 self-stretch bg-white rounded-xl relative aspect-square">
        <span
          class="absolute left-1/2 -translate-x-1/2 -top-6 rounded-full object-cover w-20 h-20 flex items-center justify-center">
          <span class="icon-[fe--arrow-right] text-3xl w-8 h-8 text-white"></span>
        </span>
        <h3 class="text-center text-sm font-bold capitalize px-2">
          20.000+ Recipes
        </h3>
      </div>
    </a>
  </div>
</div>
