<div class="relative has-[.slider]:-mx-4 group">
  <button class="btn btn-icon btn-primary btn-arrow btn-prev !hidden lg:!flex">
    <span class="icon icon-[fe--arrow-left]"></span>
  </button>
  <div class="flex lg:gap-8 justify-between {{class}}">
    {{#each items as |item|}}
    {{> "components/recipes_item.hbs" item=item itemClass=../itemClass}}
    {{/each}}
  </div>
  <button class="btn btn-icon btn-primary btn-arrow btn-next !hidden lg:!flex">
    <span class="icon icon-[fe--arrow-right]"></span>
  </button>
</div>
