<div class="container flex flex-col px-4 lg:px-0">
  <h2 class="title">Your <strong>Recent</strong></h2>
  {{!--slider slider-1-4 group1-4 --}}
  {{> "components/recipes.hbs" items=yourRecent class="slider slider-1 group-1 flex-nowrap lg:flex-wrap overflow-auto
  pb-6 scrollbox"
  itemClass="flex-[0_0_90%]"}}
</div>
