<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>Món ngon mỗi ngày</title>
  <link rel="stylesheet" href="/src/styles/main.scss" />
</head>

<body>
  <div class="wrapper pt-16 lg:pt-24">
    {{#block "header"}}
    {{> "components/header.hbs"}}
    {{/block}}
    {{#block "body"}}
    {{/block}}
    {{#block "footer"}}
    {{> "components/footer.hbs"}}
    {{/block}}
    {{> "components/scripts.hbs"}}
    {{#block "scripts"}}
    {{/block}}
  </div>
</body>

</html>
