.pagination{
  .page{
    padding: 0;
    span, a{
      display: flex;
      width: 30px;
      height: 30px;
    }
  }
}
.seasoning_shelf--item{
  .wp-post-image{
    max-width: 218px;
    max-height: 218px;
    object-fit: scale-down;
  }
}
.tab {
  .icon{
    display: flex;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.fade {
  transition: opacity .15s linear;
}
.modal-open {
  .modal{
    overflow-x: hidden;
    overflow-y: auto;
  }
}
#videoModal{
  .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;

    .close-model{
      position: absolute;
      font-size: 30px;
      top: -25px;
      right: -10px;
      z-index: 2;
      color: #fff;
    }
  }
}
.modal-dialog{
  position: relative;
  width: auto;
  pointer-events: none;
}
.modal  {
  &.show{
    .modal-dialog{
      transform: none;
      transition: transform .3s ease-out,-webkit-transform .3s ease-out;

      @media (min-width: 992px){
        max-width: 800px;
      }
      @media (min-width: 576px){
        margin: 1.75rem auto;
      }
    }
    .modal-dialog-centered{
      display: flex;
      align-items: center;

      @media (min-width: 576px){
        min-height: calc(100% - 3.5rem);
      }
    }
  }
}